<div style="flex-display: column;">

  <h1 style="text-align: center;">New game</h1>
  <ul style="display: flex;">

  <% @letters.each do |letter|%>
    <li class="tile"><%= letter %></li>
    <% end %>

  </ul>
  <div class="container">
    <form action="/score" method="post" data-turbo="false">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="text" placeholder="type a word..." name="word">
      <input id="tiles" name="tiles" type="hidden" value="<%= @letters %>">
      <%= hidden_field_tag :tiles, @letters %>
      <input type="submit" class='btn-purple' value="GO!">
    </form>
  </div>
</div>
