<div style="flex-display: column;">

  <h2 style="text-align: center;">New game</h2>
  <ul style="display: flex;">

  <% @letters.each do |letter|%>
    <li class="tile"><%= letter %></li>
    <% end %>

  </ul>
</div>
